*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Helvetice Neue LT Std 45 Light";
    src: url("font/HelveticaNeueLTStd45Light_22520.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(font/PlayfairDisplay-Regular.ttf);
}

body {
    background: linear-gradient(to top, rgb(117, 82, 246) 35%, rgb(241, 241, 241) 90%);
    min-height: 100vh;
    font-family: "Helvetice Neue LT Std 45 Light";
}

nav {
    display: flex;
    padding: 2rem 4rem;
}

.nav-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 3rem;
}

li a {
    transition: all .3s ease;
}

li a:hover {
    color: rgb(117, 82, 246);
}

.btn {
    display: block;
    border: 2px solid #7552f6;
    padding: .6rem 1.2rem;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;
}

.btn a {
    color: #7552f6;
    font-size: .75rem;
    font-weight: bold;
}

.btn:hover {
    background: #7552f6;
}

.btn:hover a {
    color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

.icon {
    display: none;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: transparent;
}

.bar {
    width: 25px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(0deg);
    background: #000000;
    transition: all .2s ease;
}

.bar:first-child {
    top: 35%;
}

.bar:last-child {
    top: 60%;
}

@media screen and (max-width: 1024px) {
    nav {
        padding: 2rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .icon {
        display: block;               
    }
    
    .nav-items {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1rem;
        background: #fff;
        background-image: url(images/mine-menu-garnish.jpg);
        background-repeat: no-repeat;
        background-position: 100% 23%;
        background-size: 50%;
    }
    
    ul {
        flex-direction: column;
    }
    
    .btn {
        align-self: center;
    } 
    
    li {
      margin-bottom: 1rem;
    }
    li a {
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        font-weight: lighter;
    }
}